.progressbar{
    -fx-background-position: relative;
    -fx-background-width: 200px;
    -fx-background-height: 200px;
    -fx-background-webkit-transform: rotate(45deg);
    -fx-background-moz-transform: rotate(45deg);
    -fx-background-ms-transform: rotate(45deg);
    -fx-background-o-transform: rotate(45deg);
    -fx-background-transform: rotate(45deg);
    -fx-background-background-color: rgba(250,184,66, 1);
}
.progressbar:before,
.progressbar:after{
    -fx-background-position: absolute;
    -fx-background-width: 200px;
    -fx-background-height: 200px;
    -fx-background-content: '';
    -fx-background-webkit-border-radius: 50%;
    -fx-background-moz-border-radius: 50%;
    -fx-background-o-border-radius: 50%;
    -fx-background-border-radius: 50%;
    -fx-background-background-color: rgba(250,184,66, 1);
}
.progressbar:before{
    -fx-background-bottom: 0px;
    -fx-background-left: -100px;
}
.progressbar:after{
    -fx-background-top: -100px;
    -fx-background-right: 0px;
}