#grave {

    -fx-background-image: url("../resources/grabstein.png");
    -fx-background-repeat: stretch;   

    -fx-background-size: 228 116;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#GAMEOVER{
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #d22730 0%, red 50%);
}#NextLevel{
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #d22730 0%, red 50%);
}
#monsterleben .bar{
    -fx-background-color: red;
    -fx-box-border:
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to bottom, derive(-fx-accent,38%), -fx-accent); 
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d22730, d25d63);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(b30009, ff000d);
}
.animated-gradient {
    -gradient-base: red ;
    -fx-text-fill: linear-gradient(to right, -gradient-base, d25d63);
}
#leben .bar {
    -fx-background-color: red;
    -fx-box-border:
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to bottom, derive(-fx-accent,38%), -fx-accent);

}