.progress-bar {
    -fx-background-color: red;
    -fx-background-radius: 10, 10, 10, 10;
 
}
 
.progress-bar .track{
    -fx-background-color: blue;
    -fx-background-insets: 20;
    -fx-background-radius: 10, 10, 10, 10;
}
 
.progress-bar .bar { 
    -fx-background-color: grey;
    -fx-background-insets: 30, 30, 30, 30; 
    -fx-background-radius: 10, 10, 10, 10;
}